@{
    ViewData["Title"] = "Home Page";
}

@model List<PrototypeModel>

@section Nav {
<nav class="navbar navbar-expand-md navbar-dark nav-auburn">
    <div class="container">
        <h1 class="navbar-brand">Ergonomics Database</h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link"><b>Home</b></a>
                </li>
                <li class="nav-item">
                    <a asp-area="" asp-controller="Home" asp-action="Create" class="nav-link">Create</a>
                </li>
            </ul>
            <span class="navbar-text">
                Ergonomics Database
            </span>
        </div>
    </div>
</nav>
}

<div class="container mt-3">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Ergonomics Database</h2>
            <hr />
            <table class="table table-bordered table-hover" id="myTable">
                <thead>
                    <tr>
                        <th>Torque Type</th>
                        <th>Posture</th>
                        <th>Data Collection</th>
                        <th>Year</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var prototype in Model) {
                    <tr>
                        <td>@prototype.torqueType</td>
                        <td>@prototype.posture</td>
                        <td>@prototype.dataCollection</td>
                        <td>@prototype.year</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(function() {
            $('#myTable').DataTable();
        })
    </script>
}